<%- include("partials/header2") %>
<div class="jumboContainer">
    <div class="jumbotron text-center">
        <h1 class="display-3">Fries and Ketchup</h1>
        <hr class="my-2">
        <div class="container">
            <h4 id="jumboPara" class="floatLeft">Games Played: <span><%- winlosses.length %> </span>
                <h4 id="jumboPara" class="floatRight">Wins: <span>
                    <% let wins = 0; %>
                    <% winlosses.forEach(function(winloss){ %>                                    
                        <% if(winloss.victory === 'on') { %>
                            <% wins += 1; %>
                        <% } else { %>
                            <% null %>
                        <% } %>                                    
                    <% }) %>
                    <% let winstotal = wins; %>
                    <%- winstotal %> </span> 
                    Losses: <span>
                    <% let losses = 0; %>
                    <% winlosses.forEach(function(winloss){ %>                                    
                        <% if(winloss.defeat === 'on') { %>
                            <% losses += 1; %>
                        <% } else { %>
                            <% null %>
                        <% } %>                                    
                    <% }) %>
                    <% let lossestotal = losses; %>
                    <%- lossestotal %>
                    </span>
                </h4>
        </div>
        <!-- <p class="lead">
            <a class="btn btn-primary btn-lg" href="Jumbo action link" role="button">Jumbo action name</a>
        </p> -->
    </div>
</div>



<%- include("partials/newrbgbtn") %>

<div class="container">
    <div class="row usercont justify-content-center">
        <div class="col-md-12">
            <div class="container recentbgs">
               
                    <div class="row justify-content-center">             
                        <div class="col-lg-8 recentbgdiv">
                            <p>                                                        
                            <h2>                                
                                <%= toon.name %>
                            </h2>
                            <% if(toon.faction === "Alliance"){ %>
                                <span><img src="/css/images/Alliance-symbol-1.png" alt=""></span> <br>                                
                            <% } else { %>
                                <span><img src="/css/images/Horde-symbol-1.png" alt=""></span> <br>
                            <% } %>
                            
                            <% if(toon.class === "Deathknight") { %>  
                                <img src="/css/images/ClassIcon-Deathknight-1.png" alt="">                                                  
                                
                            <% } else if(toon.class === "Demon Hunter") { %>
                                <img src="/css/images/ClassIcon-Demonhunter-1.png" alt="">
                                
                            <% } else if(toon.class === "Druid") { %>
                                <img src="/css/images/ClassIcon-Druid-1.png" alt="">
                                
                            <% } else if(toon.class === "Hunter") { %>
                                <img src="/css/images/ClassIcon-Hunter-1.png" alt="">
                                
                            <% } else if(toon.class === "Mage") { %>
                                <img src="/css/images/ClassIcon-Mage-1.png" alt="">
                                
                            <% } else if(toon.class === "Monk") { %>
                                <img src="/css/images/ClassIcon-Monk-1.png" alt="">
                                
                            <% } else if(toon.class === "Paladin") { %>
                                <img src="/css/images/ClassIcon-Paladin-1.png" alt="">
                                
                            <% } else if(toon.class === "Priest") { %>
                                <img src="/css/images/ClassIcon-Priest-1.png" alt="">
                                
                            <% } else if(toon.class === "Rogue") { %>
                                <img src="/css/images/ClassIcon-Rogue-1.png" alt="">
                                
                            <% } else if(toon.class === "Shaman") { %>
                                <img src="/css/images/ClassIcon-Shaman-1.png" alt="">
                                
                            <% } else if(toon.class === "Warlock") { %>
                                <img src="/css/images/ClassIcon-Warlock-1.png" alt="">
                                
                            <% } else if(toon.class === "Warrior") { %>
                                <img src="/css/images/ClassIcon-Warrior-1.png" alt="">
                                
                            <% } %>
                             <br>
                             <br>
                            <h4>
                                <%= toon.class %>
                            </h4>  
                            </p>
                            <p>Character of <%= toon.user.username %></p>
                        </div>                          
                    </div>
                
            </div>
            
        </div>
    </div>
</div>