<%- include("partials/header") %>

<div class="jumboContainer">
    <div class="jumbotron text-center">
        <h1 class="display-3">Fries and Ketchup</h1>
        <div class="container">
            <h2 class="lead">RBG Community</h2>
        </div>
        <hr class="my-2">
        <div class="container">
            <h4 id="jumboPara" class="floatLeft">Games Played: <span><%- winlosses.length %> </span></h4>
            <h4 id="jumboPara" class="floatRight">Wins: <span>
                <% let wins = 0; %>
                <% let losses = 0; %>
                <% winlosses.forEach(function(winloss){ %>                                    
                    <% if(winloss.victory === 'on') { %>
                        <% wins += 1; %>
                    <% } else { %>
                        <% losses += 1; %>
                    <% } %>                                    
                <% }) %>
                <% let winstotal = wins; %>
                <% let lstotal = losses; %>
                <%- winstotal %> </span> 
                Losses: <span>
                <%- lstotal %>
                </span>
            </h4>
        </div>
        <!-- <p class="lead">
            <a class="btn btn-primary btn-lg" href="Jumbo action link" role="button">Jumbo action name</a>
        </p> -->
    </div>
</div>



<%- include("partials/newrbgbtn") %>


<div class="container margindivt">
    <div class="row justify-content-center ">       
        <% winlosses.slice().reverse().forEach(function(winloss) { %>
            <div class="col-lg-8 recentbgdiv">
                <a href="match/<%= winloss._id %>">
                    <h2>
                        <%= winloss.bgs %>
                    </h2>
                    <span><%= winloss.created.toDateString() %></span> <br>
                    <span><% if(winloss.victory === "on") { %>
                        <img src="css/images/Alliance-symbol-1.png" alt=""> <br>
                        <h3 class="green">Victory</h3>
                    <% } else { %>
                        <img src="css/images/Horde-symbol-1.png" alt=""> <br>
                        <h3 class="red"> Defeat</h3>
                    <% } %></span>
                </a>              
                <h5>Submitted by: <a href="/members/<%= winloss.user.id %>">
                    <% user.forEach(function(user) { %>
                        <% let userId = user._id; %>
                        <% let winlossId = winloss.user.id; %>
                        <% let wlString = winlossId.toString(); %>
                        <% let uString = userId.toString(); %>
                        <% if(wlString === uString) { %>
                            <%= user.username %>
                        <% } else { %>
                            <% null %>
                        <% } %>
                    <% }) %>
                    
                
                </a></h5>
                
               
            </div>                          
        <% }) %>
    </div>
</div>






<%- include("partials/footer") %>