<%- include("partials/header") %>




<div class="jumboContainer">
    <div class="jumbotron text-center">
        <h1 class="display-3">Fries and Ketchup</h1>
        <div class="container">
            <h2 class="lead">Members</h2>
        </div>
        <hr class="my-2">
        <div class="container">
            <h4 id="jumboPara" class="floatLeft">Games Played: <span><%- winlosses.length %> </span></h4>
            <h4 id="jumboPara" class="floatRight">Wins: <span>
                <% let wins = 0; %>
                <% winlosses.forEach(function(winloss){ %>                                    
                    <% if(winloss.victory === 'on') { %>
                        <% wins += 1; %>
                    <% } else { %>
                        <% null %>
                    <% } %>                                    
                <% }) %>
                <% let winstotal = wins; %>
                <%- winstotal %> </span> 
                Losses: <span>
                <% let losses = 0; %>
                <% winlosses.forEach(function(winloss){ %>                                    
                    <% if(winloss.defeat === 'on') { %>
                        <% losses += 1; %>
                    <% } else { %>
                        <% null %>
                    <% } %>                                    
                <% }) %>
                <% let lossestotal = losses; %>
                <%- lossestotal %>
                </span>
            </h4>
        </div>
        <!-- <p class="lead">
            <a class="btn btn-primary btn-lg" href="Jumbo action link" role="button">Jumbo action name</a>
        </p> -->
    </div>
</div>

<%- include("partials/newrbgbtn") %>


    <div class="container container1 marginCont">
        <div class="row">
            <div class="col-lg-6 mb-3">
                <div class="card memberLarge">
                    <img class="card-img-top" src="css/images/extrafriessquare2.png" alt="#">
                    <div class="card-body">
                        <h5>Extrafries</h5>
                        <p>The Lord of the Fries</p>
                        <p><button id="friesHeartButton" class="btn btn-danger btn-sm"><i class="fa fa-heart"></i></button><span class="space1" id="friesHeartDisplay"></span>
                            <button id="friesShitButton" class="btn btn-primary btn-sm"><i class="fas fa-poop"></i></button><span class="space1" id="friesShitDisplay"></span></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 mb-3">
                <div class="card memberLarge">
                    <img class="card-img-top" src="css/images/kikisquare.png" alt="#">
                    <div class="card-body">
                        <h5>Kíada</h5>
                        <p>The Stinkiest of Mages</p>
                        <p><button id="kiadaHeartButton" class="btn btn-danger btn-sm"><i class="fa fa-heart"></i></button><span class="space1" id="kiadaHeartDisplay"></span>
                            <button id="kiadaShitButton" class="btn btn-primary btn-sm"><i class="fas fa-poop"></i></button><span class="space1" id="kiadaShitDisplay"></span></p>
                    </div>
                </div>
            </div>    
        </div>
    </div>

<div>
    <div class="container image1">
        <div class="row">
            <div class="col-lg-3 mb-3">
                <div class="card memberSmall">
                    <img class="card-img-top" src="css/images/dannisquare.png" alt="#">
                    <div class="card-body">
                        <h5>Danni</h5>
                        <p>Loves WEEBS and Furries</p>
                        <p><button id="danniHeartButton" class="btn btn-danger btn-sm"><i class="fa fa-heart"></i></button><span class="space1" id="danniHeartDisplay"></span>
                            <button id="danniShitButton" class="btn btn-primary btn-sm"><i class="fas fa-poop"></i></button><span class="space1" id="danniShitDisplay"></span></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 mb-3">
                <div class="card memberSmall">
                    <img class="card-img-top" src="css/images/leathelsquare2.png" alt="#">
                    <div class="card-body">
                        <h5>Giantsmilk</h5>
                        <p>Milkiest of Tanks</p>
                        <p><button id="giantsHeartButton" class="btn btn-danger btn-sm"><i class="fa fa-heart"></i></button><span class="space1" id="giantsHeartDisplay"></span>
                            <button id="giantsShitButton" class="btn btn-primary btn-sm"><i class="fas fa-poop"></i></button><span class="space1" id="giantsShitDisplay"></span></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 mb-3">
                <div class="card memberSmall">
                    <img class="card-img-top" src="css/images/Raininwishes.png" alt="#">
                    <div class="card-body">
                        <h5>Raininwishes</h5>
                        <p>Master of the Elements</p>
                        <p><button id="rainHeartButton" class="btn btn-danger btn-sm"><i class="fa fa-heart"></i></button><span class="space1" id="rainHeartDisplay"></span>
                            <button id="rainShitButton" class="btn btn-primary btn-sm"><i class="fas fa-poop"></i></button><span class="space1" id="rainShitDisplay"></span></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 mb-3">
                <div class="card memberSmall">
                    <img class="card-img-top" src="css/images/Uhtred.png" alt="#">
                    <div class="card-body">
                        <h5>Uhtred</h5>
                        <p>Son of Uhtred</p>
                        <p><button id="kurnHeartButton" class="btn btn-danger btn-sm"><i class="fa fa-heart"></i></button><span class="space1" id="kurnHearDisplay"></span>
                            <button id="kurnShitButton" class="btn btn-primary btn-sm"><i class="fas fa-poop"></i></button><span class="space1" id="kurnShitDisplay"></span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <div class="container">
    <div class="card">
        <img class="card-img-top" src="KIKI.png" alt="#">
        <div class="card-body">
            <h5>KiKi</h5>
            <p>The Stinkiest of Mages</p>
            <a href="" class="btn btn-outline-danger btn-sm"><i class="far fa-heart"></i></a>
        </div>
    </div>
</div>

<div class="container">
    <div class="card">
        <img class="card-img-top" src="Leathel.png" alt="#">
        <div class="card-body">
            <h5>Giantsmilk</h5>
            <p>The Milkiest of Tanks</p>
            <a href="" class="btn btn-outline-danger btn-sm"><i class="far fa-heart"></i></a>
        </div>
    </div>
</div> -->
<!-- <h1>Leaders</h1>

<h2>Regulars</h2>

<h2>Plebs</h2> -->
<script type="text/javascript" src="js/fries.js"></script>









<%- include("partials/footer") %>