<%- include("partials/header2") %>

    
        <div class="container newwinloss">                         
            <div class="align-items-center winlossformtop">
                <div class="container speccont">
                    <div class="row specrow justify-content-center">
                        <div class="col-12">
                            <card class="specclassicon">
                                <img src="../css/images/ClassIcon-Deathknight-1.png">
                            </card>
                            <card class="specclassicon">
                                <img src="../css/images/ClassIcon-Demonhunter-1.png">
                            </card>
                            <card class="specclassicon">
                                <img src="../css/images/ClassIcon-Druid-1.png">
                            </card>
                            <card class="specclassicon">
                                <img src="../css/images/ClassIcon-Hunter-1.png">
                            </card>
                            <card class="specclassicon">
                                <img src="../css/images/ClassIcon-Mage-1.png">
                            </card>
                            <card class="specclassicon">
                                <img src="../css/images/ClassIcon-Monk-1.png">
                            </card>
                            
                        </div>
                    </div>
                    <div class="row specrow justify-content-center">
                        <div class="col-12">
                            <card class="specclassicon">
                                <img src="../css/images/ClassIcon-Paladin-1.png">
                            </card>
                            <card class="specclassicon">
                                <img src="../css/images/ClassIcon-Priest-1.png">
                            </card>
                            <card class="specclassicon">
                                <img src="../css/images/ClassIcon-Rogue-1.png">
                            </card>
                            <card class="specclassicon">
                                <img src="../css/images/ClassIcon-Shaman-1.png">
                            </card>
                            <card class="specclassicon">
                                <img src="../css/images/ClassIcon-Warlock-1.png">
                            </card>
                            <card class="specclassicon">
                                <img src="../css/images/ClassIcon-Warrior-1.png">
                            </card>
                        </div>
                    </div>

                        <div class="row specrow winlossformtop justify-content-center">                    
                            <div class="col-md-5 newwinlosscol">
                                <form action="/match" method="POST">
                                <h3>Your Team</h3>
                                <p class="pteamcol">                            
                                    <ul class="teamul">                                        
                                        <li class="teamsli"">
                                            <input type="text" name="ally1" list="characters1" />
                                            <datalist id="characters1" size="10">
                                                
                                                <% users.sort(function(a,b){ %>                                                    
                                                    <% let nameA = a.username.toUpperCase(); %>
                                                    <% let nameB = b.username.toUpperCase(); %>
                                                    <% if (nameA < nameB) { %>
                                                        <% return -1; %>                                                        
                                                    <% } %>
                                                    <% if (nameA > nameB) { %>
                                                        <% return 1; %>                                                        
                                                    <% } %>
                                                    <% return 0; %>                                                    
                                                <% }).forEach(function(user){ %>
                                                    <option value="<%= user.username %>" class="dropdown-menu"><%= user.username %></option>
                                                    
                                                    <% toons.sort().forEach(function(toon) { %>                                                                
                                                        <% if(toon.user.username === user.username) { %>
                                                            <option value="<%= toon.name %>" class="dropdown-item"><%= toon.name %></option> 
                                                        <% } else { %>
                                                            <% null %>
                                                        <% } %>
                                                    <% }) %>                                                                                                                                          
                                                <% }); %>
                                            </datalist>
                                        </li>
                                        <li class="teamsli"">
                                            <input type="text" name="ally2" list="characters2" />
                                            <datalist id="characters2" size="10">
                                                
                                                <% users.sort(function(a,b){ %>                                                    
                                                    <% let nameA = a.username.toUpperCase(); %>
                                                    <% let nameB = b.username.toUpperCase(); %>
                                                    <% if (nameA < nameB) { %>
                                                        <% return -1; %>                                                        
                                                    <% } %>
                                                    <% if (nameA > nameB) { %>
                                                        <% return 1; %>                                                        
                                                    <% } %>
                                                    <% return 0; %>                                                    
                                                <% }).forEach(function(user){ %>
                                                    <option value="<%= user.username %>" class="dropdown-menu"><%= user.username %></option>
                                                    
                                                    <% toons.sort().forEach(function(toon) { %>                                                                
                                                        <% if(toon.user.username === user.username) { %>
                                                            <option value="<%= toon.name %>" class="dropdown-item"><%= toon.name %></option> 
                                                        <% } else { %>
                                                            <% null %>
                                                        <% } %>
                                                    <% }) %>                                                                                                                                          
                                                <% }); %>
                                            </datalist>
                                        </li>
                                        <li class="teamsli"">
                                            <input type="text" name="ally3" list="characters3" />
                                            <datalist id="characters3" size="10">
                                                
                                                <% users.sort(function(a,b){ %>                                                    
                                                    <% let nameA = a.username.toUpperCase(); %>
                                                    <% let nameB = b.username.toUpperCase(); %>
                                                    <% if (nameA < nameB) { %>
                                                        <% return -1; %>                                                        
                                                    <% } %>
                                                    <% if (nameA > nameB) { %>
                                                        <% return 1; %>                                                        
                                                    <% } %>
                                                    <% return 0; %>                                                    
                                                <% }).forEach(function(user){ %>
                                                    <option value="<%= user.username %>" class="dropdown-menu"><%= user.username %></option>
                                                    
                                                    <% toons.sort().forEach(function(toon) { %>                                                                
                                                        <% if(toon.user.username === user.username) { %>
                                                            <option value="<%= toon.name %>" class="dropdown-item"><%= toon.name %></option> 
                                                        <% } else { %>
                                                            <% null %>
                                                        <% } %>
                                                    <% }) %>                                                                                                                                          
                                                <% }); %>
                                            </datalist>
                                        </li>
                                        <li class="teamsli"">
                                            <input type="text" name="ally4" list="characters4" />
                                            <datalist id="characters4" size="10">
                                                
                                                <% users.sort(function(a,b){ %>                                                    
                                                    <% let nameA = a.username.toUpperCase(); %>
                                                    <% let nameB = b.username.toUpperCase(); %>
                                                    <% if (nameA < nameB) { %>
                                                        <% return -1; %>                                                        
                                                    <% } %>
                                                    <% if (nameA > nameB) { %>
                                                        <% return 1; %>                                                        
                                                    <% } %>
                                                    <% return 0; %>                                                    
                                                <% }).forEach(function(user){ %>
                                                    <option value="<%= user.username %>" class="dropdown-menu"><%= user.username %></option>
                                                    
                                                    <% toons.sort().forEach(function(toon) { %>                                                                
                                                        <% if(toon.user.username === user.username) { %>
                                                            <option value="<%= toon.name %>" class="dropdown-item"><%= toon.name %></option> 
                                                        <% } else { %>
                                                            <% null %>
                                                        <% } %>
                                                    <% }) %>                                                                                                                                          
                                                <% }); %>
                                            </datalist>
                                        </li>
                                        <li class="teamsli"">
                                            <input type="text" name="ally5" list="characters5" />
                                            <datalist id="characters5" size="10">
                                                
                                                <% users.sort(function(a,b){ %>                                                    
                                                    <% let nameA = a.username.toUpperCase(); %>
                                                    <% let nameB = b.username.toUpperCase(); %>
                                                    <% if (nameA < nameB) { %>
                                                        <% return -1; %>                                                        
                                                    <% } %>
                                                    <% if (nameA > nameB) { %>
                                                        <% return 1; %>                                                        
                                                    <% } %>
                                                    <% return 0; %>                                                    
                                                <% }).forEach(function(user){ %>
                                                    <option value="<%= user.username %>" class="dropdown-menu"><%= user.username %></option>
                                                    
                                                    <% toons.sort().forEach(function(toon) { %>                                                                
                                                        <% if(toon.user.username === user.username) { %>
                                                            <option value="<%= toon.name %>" class="dropdown-item"><%= toon.name %></option> 
                                                        <% } else { %>
                                                            <% null %>
                                                        <% } %>
                                                    <% }) %>                                                                                                                                          
                                                <% }); %>
                                            </datalist>
                                        </li>
                                        <li class="teamsli"">
                                            <input type="text" name="ally6" list="characters6" />
                                            <datalist id="characters6" size="10">
                                                
                                                <% users.sort(function(a,b){ %>                                                    
                                                    <% let nameA = a.username.toUpperCase(); %>
                                                    <% let nameB = b.username.toUpperCase(); %>
                                                    <% if (nameA < nameB) { %>
                                                        <% return -1; %>                                                        
                                                    <% } %>
                                                    <% if (nameA > nameB) { %>
                                                        <% return 1; %>                                                        
                                                    <% } %>
                                                    <% return 0; %>                                                    
                                                <% }).forEach(function(user){ %>
                                                    <option value="<%= user.username %>" class="dropdown-menu"><%= user.username %></option>
                                                    
                                                    <% toons.sort().forEach(function(toon) { %>                                                                
                                                        <% if(toon.user.username === user.username) { %>
                                                            <option value="<%= toon.name %>" class="dropdown-item"><%= toon.name %></option> 
                                                        <% } else { %>
                                                            <% null %>
                                                        <% } %>
                                                    <% }) %>                                                                                                                                          
                                                <% }); %>
                                            </datalist>
                                        </li>
                                        <li class="teamsli"">
                                            <input type="text" name="ally7" list="characters7" />
                                            <datalist id="characters7" size="10">
                                                
                                                <% users.sort(function(a,b){ %>                                                    
                                                    <% let nameA = a.username.toUpperCase(); %>
                                                    <% let nameB = b.username.toUpperCase(); %>
                                                    <% if (nameA < nameB) { %>
                                                        <% return -1; %>                                                        
                                                    <% } %>
                                                    <% if (nameA > nameB) { %>
                                                        <% return 1; %>                                                        
                                                    <% } %>
                                                    <% return 0; %>                                                    
                                                <% }).forEach(function(user){ %>
                                                    <option value="<%= user.username %>" class="dropdown-menu"><%= user.username %></option>
                                                    
                                                    <% toons.sort().forEach(function(toon) { %>                                                                
                                                        <% if(toon.user.username === user.username) { %>
                                                            <option value="<%= toon.name %>" class="dropdown-item"><%= toon.name %></option> 
                                                        <% } else { %>
                                                            <% null %>
                                                        <% } %>
                                                    <% }) %>                                                                                                                                          
                                                <% }); %>
                                            </datalist>
                                        </li>
                                        <li class="teamsli"">
                                            <input type="text" name="ally8" list="characters8" />
                                            <datalist id="characters8" size="10">
                                                
                                                <% users.sort(function(a,b){ %>                                                    
                                                    <% let nameA = a.username.toUpperCase(); %>
                                                    <% let nameB = b.username.toUpperCase(); %>
                                                    <% if (nameA < nameB) { %>
                                                        <% return -1; %>                                                        
                                                    <% } %>
                                                    <% if (nameA > nameB) { %>
                                                        <% return 1; %>                                                        
                                                    <% } %>
                                                    <% return 0; %>                                                    
                                                <% }).forEach(function(user){ %>
                                                    <option value="<%= user.username %>" class="dropdown-menu"><%= user.username %></option>
                                                    
                                                    <% toons.sort().forEach(function(toon) { %>                                                                
                                                        <% if(toon.user.username === user.username) { %>
                                                            <option value="<%= toon.name %>" class="dropdown-item"><%= toon.name %></option> 
                                                        <% } else { %>
                                                            <% null %>
                                                        <% } %>
                                                    <% }) %>                                                                                                                                          
                                                <% }); %>
                                            </datalist>
                                        </li>
                                        <li class="teamsli"">
                                            <input type="text" name="ally9" list="characters9" />
                                            <datalist id="characters9" size="10">
                                                
                                                <% users.sort(function(a,b){ %>                                                    
                                                    <% let nameA = a.username.toUpperCase(); %>
                                                    <% let nameB = b.username.toUpperCase(); %>
                                                    <% if (nameA < nameB) { %>
                                                        <% return -1; %>                                                        
                                                    <% } %>
                                                    <% if (nameA > nameB) { %>
                                                        <% return 1; %>                                                        
                                                    <% } %>
                                                    <% return 0; %>                                                    
                                                <% }).forEach(function(user){ %>
                                                    <option value="<%= user.username %>" class="dropdown-menu"><%= user.username %></option>
                                                    
                                                    <% toons.sort().forEach(function(toon) { %>                                                                
                                                        <% if(toon.user.username === user.username) { %>
                                                            <option value="<%= toon.name %>" class="dropdown-item"><%= toon.name %></option> 
                                                        <% } else { %>
                                                            <% null %>
                                                        <% } %>
                                                    <% }) %>                                                                                                                                          
                                                <% }); %>
                                            </datalist>
                                        </li>
                                        <li class="teamsli"">
                                            <input type="text" name="ally10" list="characters10" />
                                            <datalist id="characters10" size="10">
                                                
                                                <% users.sort(function(a,b){ %>                                                    
                                                    <% let nameA = a.username.toUpperCase(); %>
                                                    <% let nameB = b.username.toUpperCase(); %>
                                                    <% if (nameA < nameB) { %>
                                                        <% return -1; %>                                                        
                                                    <% } %>
                                                    <% if (nameA > nameB) { %>
                                                        <% return 1; %>                                                        
                                                    <% } %>
                                                    <% return 0; %>                                                    
                                                <% }).forEach(function(user){ %>
                                                    <option value="<%= user.username %>" class="dropdown-menu"><%= user.username %></option>
                                                    
                                                    <% toons.sort().forEach(function(toon) { %>                                                                
                                                        <% if(toon.user.username === user.username) { %>
                                                            <option value="<%= toon.name %>" class="dropdown-item"><%= toon.name %></option> 
                                                        <% } else { %>
                                                            <% null %>
                                                        <% } %>
                                                    <% }) %>                                                                                                                                          
                                                <% }); %>
                                            </datalist>
                                        </li>

                                    </ul>
                                </p>                                                 
                            </div> 
                        </div>      
            <div class="row justify-content-center">                       
                <div class="col-2  winlosstopcont row">
                    <label for="bg-select"></label>
                    <select name="bgs" class="custom-select mr-sm-2" id="bg-select" autofocus required>
                        <option value="Warsong Gulch">Warsong Gulch</option>
                        <option value="Arathi Basin">Arathi Basin</option>
                        <option value="Eye of the Storm">Eye of the Storm</option>
                        <option value="Silvershard Mines">Silvershard Mines</option>
                        <option value="Battle for Gilneas">Battle For Gilneas</option>
                        <option value="Twin Peaks">Twin Peaks</option>
                        <option value="Temple of Kotmogu">Temple of Kotmogu</option>
                        <option value="Seething Shore">Seething Shore</option>
                    </select>
                </div>
              
                <div class="col-2 victorybox">
                    <label for="victory">Victory</label>
                    <input type="checkbox" name="victory">
                </div>   
            </div>
        </div>

    <div class="container">
        <div class="row submitrow">
            <button type="submit" class="col-sm-4 btn submitwinlossbtn">
                Submit
            </button>                        
        </div>
    </div>
    <input type="hidden" name="user[username]" value="<%= currentUser.username %>">
    <input type="hidden" name="user[id]" value="<%= currentUser._id %>">
           
                                </form>

    
    

<%- include("partials/footer") %>