<%- include("partials/header2") %>
<div class="jumboContainer">
    <div class="jumbotron text-center">
        <h1 class="display-3">Fries and Ketchup</h1>        
        <hr class="my-2">
        <div class="container">
            <h4 id="jumboPara" class="floatLeft">Games Played: <span><%- winlosses.length %> </span>
                <h4 id="jumboPara" class="floatRight">Wins: <span>
                    <% let wins = 0; %>
                    <% winlosses.forEach(function(winloss){ %>                                    
                        <% if(winloss.victory === 'on') { %>
                            <% wins += 1; %>
                        <% } else { %>
                            <% null %>
                        <% } %>                                    
                    <% }) %>
                    <% let winstotal = wins; %>
                    <%- winstotal %> </span> 
                    Losses: <span>
                    <% let losses = 0; %>
                    <% winlosses.forEach(function(winloss){ %>                                    
                        <% if(winloss.defeat === 'on') { %>
                            <% losses += 1; %>
                        <% } else { %>
                            <% null %>
                        <% } %>                                    
                    <% }) %>
                    <% let lossestotal = losses; %>
                    <%- lossestotal %>
                    </span>
                </h4>
        </div>
        <!-- <p class="lead">
            <a class="btn btn-primary btn-lg" href="Jumbo action link" role="button">Jumbo action name</a>
        </p> -->
    </div>
</div>



<%- include("partials/newrbgbtn") %>



<div class="container marginbtm">
    <div class="row usercont justify-content-center">
        <div class="col-md-12">
            <div class="container userdivs">
               
                    <div class="row justify-content-center marginbtm">             
                        <div class="col-lg-8 recentbgdiv yellowlinesBTM">
                            
                            <img src="../css/images/propicph.png" alt=""> <br>
                          
                                

                            <h2>
                                <%= user.username %>
                            </h2>
                                 
                            <% let submitted = 0; %>
                                <% winlosses.forEach(function(winloss){ %>                                   
                                    <% let submittedVictory = 0; %>
                                    <% let submittedDefeat = 0; %>
                                    <% if(winloss.user.username === user.username) { %>
                                        <% submitted += 1; %>
                                        <% if(winloss.victory === 'on' | winloss.defeat === 'on') { %>
                                            <% if(winloss.victory === 'on') { %>
                                                <% submittedVictory += 1; %>
                                            <% } else { %>
                                                <% submittedDefeat += 1; %>
                                            <% } %>
                                        <% } else if(submitted === 0) { %>
                                            <p>No Games Submitted</p>
                                        <% } %>                                        
                                        <p>
                                            Total Submitted: <%= submitted %> <br>
                                            Victory: <%= submittedVictory %>    Defeat: <%= submittedDefeat %>
                                        </p>                                                                          
                                    <% } else { %>
                                        <% null %>
                                    <% } %>                                    
                                <% }); %> 
                        </div>                          
                    </div>
                    <div class="row">
                        <% toons.forEach(function(toon){ %>                                
                            <% if(toon.user.username === user.username){ %>
                                <div class="col-lg-3 mb-3">
                                    <a href="/character/<%= toon._id %>">
                                        <div class="card toonSmall">
                                            <img class="card-img-top" src="../css/images/Leathel.png" alt="#">
                                        <div class="card-body">
                                            <h3><%= toon.name %></h3>
                                            <p><%= toon.class %></p>
                                        </div>
                                        </div>                        
                                    </a> 
                                </div>                      
                            <% } else { %>
                                <% null %>
                            <% } %>
                        <% }); %> 
                    </div>                
            </div>
            
        </div>
    </div>
</div>




























<%- include("partials/footer") %>