<%- include("partials/header2") %>

    <div class="jumboContainer">
        <div class="jumbotron text-center">
            <h1 class="display-3">Fries and Ketchup</h1>
            <!-- <div class="container">
               
            </div> -->
            <hr class="my-2">
            <div class="container">
                <h4 id="jumboPara" class="floatLeft">Games Played: <span><%- winlosses.length %> </span>
                <h4 id="jumboPara" class="floatRight">Wins: <span>
                    <% let wins = 0; %>
                    <% winlosses.forEach(function(winloss){ %>                                    
                        <% if(winloss.victory === 'on') { %>
                            <% wins += 1; %>
                        <% } else { %>
                            <% null %>
                        <% } %>                                    
                    <% }) %>
                    <% let winstotal = wins; %>
                    <%- winstotal %> </span> 
                    Losses: <span>
                    <% let losses = 0; %>
                    <% winlosses.forEach(function(winloss){ %>                                    
                        <% if(winloss.defeat === 'on') { %>
                            <% losses += 1; %>
                        <% } else { %>
                            <% null %>
                        <% } %>                                    
                    <% }) %>
                    <% let lossestotal = losses; %>
                    <%- lossestotal %>
                    </span>
                </h4>
            </div>
            <!-- <p class="lead">
                <a class="btn btn-primary btn-lg" href="Jumbo action link" role="button">Jumbo action name</a>
            </p> -->
        </div>
    </div>

<%- include("partials/newrbgbtn") %>




    <div class="container marginbtm">
        <div class="row usercont justify-content-center">
            <div class="col-md-12">
                <div class="container userdivs">
                   
                        <div class="row justify-content-center marginbtm">             
                            <div class="col-lg-4 recentbgdiv yellowlinesBTM">
                                <form action="/user?_method=PUT" method="POST"  enctype="multipart/form-data">
                
                                    <input type="text" placeholder="Username" name="username" value="<%= currentUser.username %>"><br>                                     
                                    <label for="Image">User Picture</label>
                                    <input type="file" name="Image" enctype="multipart/form-data" value="<%= currentUser.image.path %>">
                                    <br>
                                    <button type="submit">Save</button>
                                </form>
                                <a href="/user"><button>Disgard</button></a>


                                
                                
                                <h1><%= currentUser.username %></h1>
                                <% let submitted = 0; %>
                                <% winlosses.forEach(function(winloss){ %>                                   
                                    <% let submittedVictory = 0; %>
                                    <% let submittedDefeat = 0; %>
                                    <% if(winloss.user.username === currentUser.username) { %>
                                        <% submitted += 1; %>
                                        <% if(winloss.victory === 'on' | winloss.defeat === 'on') { %>
                                            <% if(winloss.victory === 'on') { %>
                                                <% submittedVictory += 1; %>
                                            <% } else { %>
                                                <% submittedDefeat += 1; %>
                                            <% } %>
                                        <% } else if(submitted === 0) { %>
                                            <p>No Games Submitted</p>
                                        <% } %>                                        
                                        <p>
                                            Total Submitted: <%= submitted %> <br>
                                            Victory: <%= submittedVictory %>    Defeat: <%= submittedDefeat %>
                                        </p>                                                                          
                                    <% } else { %>
                                        <% null %>
                                    <% } %>                                    
                                <% }); %> 
                            </div>                          
                        </div>
                        <div class="row">
                            <% toons.forEach(function(toon){ %>                               
                                <% if(toon.user.username === currentUser.username){ %>
                                    
                                    <div class="col-lg-3 mb-3">
                                        <a href="character/<%= toon._id %>">
                                            <div class="card toonSmall yellowlinesBTM">
                                                <% if(toon.faction === "Alliance"){ %>
                                                    <span class="factionSymbol"><img src="/css/images/Alliance-symbol-1.png" alt=""></span>
                                                  
                                                <% } else { %>
                                                    <span class="factionSymbol"><img src="/css/images/Horde-symbol-1.png" alt=""></span>
                                                <% } %>
                                                
                                            <div class="card-body">
                                                
                                                <% if(toon.class === "Deathknight") { %>
                                                    <img src="/css/images/ClassIcon-Deathknight-1.png" alt="">                                                 
                                                    <h3 class="deathknight"><%= toon.name %></h3>
                                                    <p class="deathknight"><%= toon.class %></p>     
                                                <% } else if(toon.class === "Demon Hunter") { %>
                                                    <img src="/css/images/ClassIcon-Demonhunter-1.png" alt="">
                                                    <h3 class="demonhunter"><%= toon.name %></h3>
                                                    <p class="demonhunter"><%= toon.class %></p>
                                                <% } else if(toon.class === "Druid") { %>
                                                    <img src="/css/images/ClassIcon-Druid-1.png" alt="">
                                                    <h3 class="druid"><%= toon.name %></h3>
                                                    <p class="druid"><%= toon.class %></p>
                                                <% } else if(toon.class === "Hunter") { %>
                                                    <img src="/css/images/ClassIcon-Hunter-1.png" alt="">
                                                    <h3 class="hunter"><%= toon.name %></h3>
                                                    <p class="hunter"><%= toon.class %></p>
                                                <% } else if(toon.class === "Mage") { %>
                                                    <img src="/css/images/ClassIcon-Mage-1.png" alt="">
                                                    <h3 class="mage"><%= toon.name %></h3>
                                                    <p class="mage"><%= toon.class %></p>
                                                <% } else if(toon.class === "Monk") { %>
                                                    <img src="/css/images/ClassIcon-Monk-1.png" alt="">
                                                    <h3 class="monk"><%= toon.name %></h3>
                                                    <p class="monk"><%= toon.class %></p>
                                                <% } else if(toon.class === "Paladin") { %>
                                                    <img src="/css/images/ClassIcon-Paladin-1.png" alt="">
                                                    <h3 class="paladin"><%= toon.name %></h3>
                                                    <p class="paladin"><%= toon.class %></p>
                                                <% } else if(toon.class === "Priest") { %>
                                                    <img src="/css/images/ClassIcon-Priest-1.png" alt="">
                                                    <h3 class="priest"><%= toon.name %></h3>
                                                    <p class="priest"><%= toon.class %></p>
                                                <% } else if(toon.class === "Rogue") { %>
                                                    <img src="/css/images/ClassIcon-Rogue-1.png" alt="">
                                                    <h3 class="rogue"><%= toon.name %></h3>
                                                    <p class="rogue"><%= toon.class %></p>
                                                <% } else if(toon.class === "Shaman") { %>
                                                    <img src="/css/images/ClassIcon-Shaman-1.png" alt="">
                                                    <h3 class="shaman"><%= toon.name %></h3>
                                                    <p class="shaman"><%= toon.class %></p>
                                                <% } else if(toon.class === "Warlock") { %>
                                                    <img src="/css/images/ClassIcon-Warlock-1.png" alt="">
                                                    <h3 class="warlock"><%= toon.name %></h3>
                                                    <p class="warlock"><%= toon.class %></p>
                                                <% } else if(toon.class === "Warrior") { %>
                                                    <img src="/css/images/ClassIcon-Warrior-1.png" alt="">
                                                    <h3 class="warrior"><%= toon.name %></h3>
                                                    <p class="warrior"><%= toon.class %></p>
                                                <% } %>
                                                
                                            </div>
                                            </div>                        
                                        </a> 
                                    </div>                      
                                <% } else { %>
                                    <% null %>
                                <% } %>
                            <% }); %>
                        </div>
                        
                        
                </div>
                
            </div>
        </div>
    </div>

    













<%- include("partials/footer") %>